#since we must limit the repository size to 1GB max, only commit the compressed libraries
/lib/SDL2-2.0.8
/lib/SDL2_ttf-2.0.14

#executables
*.exe
*.o

#images
*.jpg
*.png
*.bmp

#audio
*.wav

#directories
docs/