#since we must limit the repository size to 1GB max, only commit the compressed library
/STM32Cube_FW_F4_V1.21.0

#executables
*.exe

#web files
*.html
*.css
*.url

#documentation (non-.txt)
*.pdf

#images
*.png
*.jpg
*.bmp

#videos
*.avi
*.emf

#audio files
*.wav

#spreadsheets
*.xls

#compiled html
*.chm

#directories
_htmresc/
Documentation/
Projects/
Examples/
STM32F4-Discovery/
STM32F4xx_Nucleo_144/
STM32F4xx_Nucleo/
STM32F401-Discovery/
STM32F413H-Discovery/
STM32F429I-Discovery/
STM324x9I_EVAL/
STM324xG_EVAL/
STM32412G-Discovery/
STM32446E_EVAL/
STM32469I_EVAL/
STM32469I-Discovery/
Utilities/PC_Software/